@font-face {
    font-family: 'HK Grotesk Regular';
    src: url("../assets/fonts/hk-grotesk/HKGrotesk-SemiBold.otf");
}

@font-face {
    font-family: 'HK Grotesk Bold';
    src: url("../assets/fonts/hk-grotesk/HKGrotesk-Bold.otf");
}


h1, h2, h3, h4 {
    font-family: 'HK Grotesk Bold';
}

body {
    font-family: 'HK Grotesk Regular';
}

input, button {
    font-family: 'HK Grotesk Bold';
}